In [5]:
# connectar Dataframe
#Bibliotecas
from pandas import pandas

#definir variais globais 
import pandas as pd
path = "https://raw.githubusercontent.com/silverioleitejr/avaliacao-python/main/data/dataset.csv"
vendas_df = pd.read_csv(path)

In [7]:
def isNaN(num):
    return num != num

In [8]:
# Esta função retorna um DataFrameGroupBy por Marca
def agruparMediaMarca():

  grouped_df = vendas_df.groupby(['car_make'])
  mean_df = grouped_df.mean()

  return mean_df

In [9]:
 agruparMediaMarca()

                  id     car_year     car_value
car_make
A         466.475248  2000.178218  46144.930693
B         565.120879  1999.978022  50383.384615
C         545.480392  2000.833333  48890.294118
D         516.018182  2001.581818  50650.463636
E         513.531915  1999.297872  49621.393617
F         442.394495  1999.522936  46137.697248
G         506.888889  2000.011111  46113.366667
H         493.471154  1999.519231  46126.326923
I         485.964286  1999.726190  45487.535714
J         480.904348  2001.000000  47992.982609

In [10]:
def calcularMedia( fabricante = ''):
  agrupamento_df = agruparMediaMarca()
  filtro_query = 'car_make == ' '"' + fabricante + '"'
  filtro_df = agrupamento_df.query( filtro_query )

  media = filtro_df['car_value']

  return media

In [15]:
def criarSparkDataFrame():
  import pyspark
  from pyspark.sql import SparkSession
  import pandas as pd

  # Criar sessão spark
  spark = SparkSession.builder.getOrCreate()

  # Ler o dataframe de vendas 
  spark_df = spark.createDataFrame(vendas_df)

  # incluir o spark df no cataloga Spark
  spark_df.createOrReplaceTempView('spark_df')